body{

    background-color:#2F4050;
    color: #ffffff;
    padding: 0px !important;
    margin: 0px !important;
    /*font-size: 11px !important;*/
}
.menu{
    width: 190px;
    color: #ffffff;
    background-color: transparent;
    position: absolute;
}

.contenido{
    background: #F3F3F4;
    min-height: 1200px;
    margin: 0px;
    margin-left: 190px;
    padding-left: 15px;
    padding-right: 15px;
    color: #676A6C;
    border-left: 3px solid #E7EAEC;
}
.default{
    background: #EFEFF0;
    margin-left: -3px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 30px;
    margin-bottom: 15px;
    color: #A1ACBE !important;
    border-radius: 0px;
    margin-left: -15px;
}
.buscar-header{
    background: transparent;
    border: none;
    box-shadow: none;
}

.titulo{
    text-align: center;
    font-size: 18px;
    color: #8B8888;
    margin-top: 5px;
}
.default a.item{
    color: #8c96a8 !important;
}
.submenu{
    display: none;
    list-style: none;
}
.submenu a{
    width: 100%;
}
.menu-vertical ul{
    padding: 0px;
    padding-bottom: 5px;
    padding-left: 20px;
    /*padding: 20px;*/
}
.menu-vertical li{
    padding: 15px;
    padding-left: 0px;
    color: #8095A8;
    font-weight: normal;
    cursor: pointer;
}
.menu-item.active{
    color: #fff;
    background: #293846;
    border-left: 3px  solid #19AA8D;
}
.menu-item:hover{
    color: #fff;
    background: #293846;
}
.menu a{
    text-decoration: none;
    background: transparent;
    color: #8095A8;
    padding: 0px;
    margin: 0px;
}
.menu a.active{
    text-decoration: none;
    background: transparent;
    color: #fff;
}
.menu a:hover{
    text-decoration: none;
    background: #293846 !important;
    color: #fff;
}
.menu a:focus{
    text-decoration: none;
    background: #293846 !important;
    color: #fff;
    border: none !important;
}

.info-user{
    height: 170px;
    position: relative;
    cursor: default !important;
}
.fa-menu{
    font-size: 16px;
    margin-right: 7px;

}
.btn-verde{
    background:  #19AA8D;
    color: #ffffff !important;
}
.btn-verde:hover{
    background:  #18A689;
    color: #ffffff !important;
}

.verde{
    background:  #18A689;
}
.verde th{
    background:  #18A689 !important;
}
.verde td{
    background: #ffffff;
}



.btn-darkblue{
    background:  #2F4050;
    color: #ffffff !important;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
}
.btn-darkblue:hover{
    background:  #293846;
    color: #ffffff !important;
}

.darkblue{
    background:  #2F4050;
}
.darkblue th{
    background:  #2F4050 !important;
}
.darkblue td{
    background: #ffffff;
}


.panel-completo{
    width: 100%;
    display: block;
    border-top: 3px solid #E7EAEC;
    background: #fff;
    padding: 20px;
    min-height: 40px;
}
.titulo-panel{
    border-bottom: 1px solid #E7EAEC;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 35px;
    font-weight: bold;
}

.fila{
    margin-top: 10px;
}

h1{
    font-weight: normal;
    font-size: 22px;
    margin-top: 0px;
}

/*cards!!!!*/
.card-verde{
    border-radius: 5px;
    width: 100%;
    min-height: 80px;
    background: #1AB394;
    color: #ffffff;
    padding: 15px;
}
.card-verde2{
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    background: #23C6C8;
    color: #ffffff;
    padding: 15px;
}
.card-naranja{
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    background: #F8AC59;
    color: #ffffff;
    padding: 15px;
}
.circulo-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 60px;
}